// global.scss

// Colors
$primary-color: #fe4a4b; // Màu chính của trang web
$secondary-color: #fbf8e5;
$third-color: #fff;
$text-color: #253044; // Màu chữ chính
$text-color-second: #fff;
$link-color: #3498db; // Màu chữ cho liên kết
$Available-color: #52c41a; // Màu cho tag có sẵn
$Unavailable-color: #bfbfbf; // Màu cho tag không có sẵn

// Font sizes
$base-font-size: 16px; // Kích thước chữ cơ bản - submenu
$small-font-size: 14px; // Kích thước chữ nhỏ
$large-font-size: 18px; // Kích thước chữ lớn - menu

// Font family
$font-family: "Arial", sans-serif;

$font-weight-one: 700;
$font-weight-two: 500;
$font-weight-three: 300;

// Border radius
$border-radius: 4px;

// Box shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Hiệu ứng bóng đổ chung

// Z-index
$z-index-modal: 1000; // Z-index cho các modal hoặc overlay

// Line height
$line-height: 1.5; // Độ cao dòng chữ chung

// Responsive breakpoints
$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;

// Global styles
body {
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $line-height;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none !important;

    &:hover {
        color: darken($link-color, 10%); // Tăng độ sáng khi di chuột qua liên kết
    }
}

.custom-link {
    text-decoration: none;
}

.custom-menu {
    font-weight: $font-weight-one;
    font-size: $large-font-size;
}

.custom-submenu {
    font-size: $base-font-size;
    cursor: pointer;
}

button,
.custom-button:active {
    transform: scale(0.95);
    // background-color: $primary-color;
}

button,
.custom-button:focus {
    outline: none;
    color: $text-color-second !important;
    background-color: $primary-color !important;
}

// .container {
//     max-width: $container-width; // Giới hạn chiều rộng tối đa của container
//     margin: 0 auto; // Căn giữa container
// }

// Responsive styles
@media screen and (max-width: $mobile-width) {
    // Mobile styles
}

@media screen and (min-width: $tablet-width) {
    // Tablet styles
}

@media screen and (min-width: $desktop-width) {
    // Desktop styles
}
