@import "../../styles/global.scss";

.custom-wrapper {
    background-color: $secondary-color;
    .container {
        background-color: transparent;
        min-height: 50px;
        padding: 0 !important;
        .container-header {
            justify-content: space-between;

            &__left {
                .logo {
                    object-fit: cover;
                    width: 90px;
                    height: 60px;
                    overflow: hidden;
                }
            }

            &__center {
                width: 80%;
                .center-menu {
                    min-height: 60px;
                    background-color: transparent;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__right {
                // width: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .account {
                    font-weight: $font-weight-one;
                    font-size: $large-font-size;
                    cursor: pointer;
                }
            }
        }
    }
}
