.container {
    padding-top: 50px;

    .elements-container {
        margin: 0 120px;
        display: grid;
        grid-template-columns: repeat(20, minmax(0, 1fr));
        gap: 10px 0;
    }

    .selection-box-info {
        margin-top: 10px;
    }
}
